<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My second Django File</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <!-- NAVBAR -->
    <nav class="bg-black shadow-lg">
        <div class="max-w-7xl mx-auto px-6">
            <div class="flex justify-between items-center h-16">

                <!-- LOGO -->
                <div class="text-white text-2xl ">
                    KnowledgeBase
                </div>

                <!-- NAV LINKS -->
                <div class="flex-1 flex justify-center  ">
                    <a href="#" class="text-white hover:text-blue-400 transition duration-300 mx-2">
                        Home
                    </a>

                    <a href="#" class="text-white hover:text-blue-400 transition duration-300 mx-2">
                        About
                    </a>

                    <a href="#" class="text-white hover:text-blue-400 transition duration-300 mx-2">
                        Services
                    </a>

                    <a href="#" class="text-white hover:text-blue-400 transition duration-300 mx-2">
                        Gallery
                    </a>

                    <a href="#" class="text-white hover:text-blue-400 transition duration-300 mx-2">
                        Contact
                    </a>
                </div>

                <!-- BUTTON -->

            </div>
        </div>
    </nav>
    <section class="flex justify-between">
        <h1 class="bg-pink-200  rounded-[3rem]">{{ category1}}</h1>
<h1 class="bg-pink-200  rounded-[3rem]" >{{ category2}}</h1>
<h1 class="bg-pink-200  rounded-[3rem]">{{ category3}}</h1>
<h1 class="bg-yellow-200 rounded-[3rem]">{{ category4}}</h1>
<h1 class="bg-green-400  rounded-[3rem]">{{ category5}}</h1>
<h1 class="bg-blue-400  rounded-[3rem]">{{ category6}}</h1>
<h1 class="bg-green-400  rounded-[3rem]">{{ category7}}</h1>
<h1 class="bg-blue-400  rounded-[3rem]">{{ category8}}</h1>
<h1 class="bg-blue-400 rounded-[3rem]">{{ category9}}</h1>
<h1 class="bg-purple-400  rounded-[3rem]">{{ category10}}</h1>
<h1 class="bg-purple-400  rounded-[3rem]">{{ category11}}</h1>
<h1 class="bg-brown-300  rounded-[3rem]>{{ category12}}</h1>
    </section>



</body>
</html>